/* ------------------------------- Generales ------------------------------------------ */


/* ------------------------------- Login ------------------------------------------ */
#imagen-fondo {
    background-image: url("../img/fondo3.jpg");
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 1;
}

#imagen-fondo1 {  
  background-image: null;
  opacity: 1;
}

.logincentrado {
  margin: 40px;
}

.tarjeta {
  height: 580%;
}

.myform{        
  padding: 1rem;
  -ms-flex-direction: column;
  flex-direction: column;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 1.1rem;
  box-shadow: 0 0 15px 9px #00000096;
  padding-bottom: 50px;
}
  
.login-or {    
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;  
}

.google{
  color:#aaa;
}

.google:hover{
  color:#0069D9;
}

.hr-or {
  margin: auto;    
}

.capa-back {
  position: absolute;
  margin-top: 13%;
  margin-left: 23%;
  background-color: white;
  width: 75%;
  height: 54%;
  box-shadow: 0 0 15px 9px #f8f8f896;
  opacity: 0.8;
}

.margen-icono{
  margin-top: 7px;
  margin-right: 5px;
}

/* ------------------------------- Clientes------------------------------------------ */
/* ------------------------------- Inicio ------------------------------------------ */

#body-comun {  
  font-family: 'Roboto', sans-serif;
  line-height: 28px;
  font-weight: 300;
  font-size: 14px;
  color:#282828;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased !important;
}

#ladoizquierdo {
  position: relative;
  left: auto auto;
  margin: auto auto;
}

#imgusuario {
  width: 200px;
  height: 180px;
  margin: 20px;
}

#imgauto {
  width: 200px;
  height: 180px;
  margin: 20px;
}

#textcentrado {
  text-align: center;
}

#t01 tr:nth-child(even) {
  background-color: #eee;
  text-align: center;
}
#t01 tr:nth-child(odd) {
 background-color: #fff;
 text-align: center;
}
#t01 th {
  background-color: black;
  color: white;
  @media (max-width : 640px) {
    .tt-fullHeight{
        height: 560px !important;
    }
  }
}

#centrando {
  margin: 60px 10px;
}

.mybtn{
  border-radius:50px;
}


table {
  margin: 60px auto;
  width: 90%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: center;
}



#home {
  height: 100vh;
  background: url(../img/inicio.jpg) no-repeat center center;
  -webkit-background-attachment: fixed;
  background-attachment: fixed;
  background-color: #222;
  background-size: cover;
  padding: 0;
  position: relative;
  text-align: center;
  justify-content: center center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#imgauto {
  width: 200px;
  height: 180px;
  margin: 20px;
}

#imgusuario {
  width: 150px;
  height: 150px;
  margin: 30px auto;
}


#moverauto {
  margin-left: 25%;
}

a{
    text-decoration:none !important;
}

h1,h2,h3{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}


form .error {
    color: #ff0000;
}

/*-------------- Crud ------------*/

.header {
  border-bottom: 1px solid #eee;
  position: relative;
  width: 100%;
  height: 300px;
  z-index: 998;
  padding-bottom: 1px;
  background: #fff;
}

.acme {
  width: 160px;
  height: 140px;
}

.usuario {
  padding: 10px;
  margin: auto 190px;
  width: 200px;
  height: 200px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/Car-3.jpg');
  background-position: center center;
  background-repeat: no-repeat;
}

.form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

.centrar {    
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 50px;
}

.botones {
  margin-left: 30px;
  bottom: 300px;
}

.formulario {
  position: relative;
  bottom: 80px;
  left: -80px;
}

.buscar {
  position: relative;
  left: 60px;
}

.buscador {
  width: 180px;
  height: 40px;
  border-radius: 5px;
}

/*
#second{
    display:none;
}

#wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.demo, .demo-2 {
  position:relative;
  height:100px;
  width:500px;
}
.demo .form-search, .demo-2 .form-search {
  position:absolute;
  right:0px;
  top:0px;
}
.demo .form-search input[type=text],
.demo-2 .form-search input[type=text] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
  border: solid 1px #ccc;
  padding: 9px 18px;
  width: 200px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.demo-2 .form-search input[type=text] {
  width:60px;
  position:absolute;
  right:0px;
  z-index:1000;
  padding:8px 12px;
  cursor:pointer;
}
.demo-2 .form-search div.input-group {
  width:60px;
}
.demo .form-search input[type=text]:focus {
  width: 350px;
  background-color: #fff;
}
.demo-2 .form-search input[type=text]:focus {
  position:absolute;
  right:60px;
  width:250px;
}
.demo .form-search button.btn,
.demo-2 .form-search button.btn {
  padding:16px 12px;
  border-top-right-radius:4px;
  border-bottom-right-radius: 4px;
  cursor:not-allowed;
}
.demo-2 .form-search button.btn {
padding:15px 12px;
}
*/
/*Estilos de la galeria*/
/*
.galeria {
  width: 90%;
  margin: auto;
  list-style: none;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.galeria li{
  margin: 5px;
}

img {
  width: 800px;
  height: 400px;
}

#imagen {
  width: 600px;
  height: 300px;
}
*/
/*Estilos del modal*/
/*
.modal {
  display: none;
  
}

#home:before {
  content: "";
  background-color: rgba(26, 30, 35, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intro {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  text-align: center;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  padding: 0 15px;
  justify-content: center;
}

.intro h1{
  font-size: 60px;
  line-height: 80px;
  margin-bottom: 16px;
  color: #52b3d9;
}

.intro h1 span{
  color: #68c3a3;
}

.intro p{
  color: #f7f7f7;
  margin-bottom: 40px;
}

.intro-sub {
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  margin: auto;
}

/* ------------------------------- Iconos de redes sociales ------------------------------------------ */

.list-inline{
  padding-left: 0;
  margin-left: auto;
  list-style: none
}
.list-inline>li{
  display: inline-block;
  padding-right: 5px;
  padding-left: 20px
}

.fa{
  display:inline-block;
  font:normal normal normal 14px/1 FontAwesome;
  font-size:inherit;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale}

.social-icons {
    margin-top: 20px;
}

.social-icons a i{
  position: relative;
  color: #fff;
  font-size: 18px;
  margin: 0 7px;
  line-height: 40px;
  text-align: center;
  width: 40px;
  height: 40px;
}

.social-icons a i::before {
  position: relative;
  z-index: 1;
}

.social-icons a i::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 3px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;            
}

.social-icons a i:hover::after{
  background: #68c3a3;
  border: 1px solid transparent;
  z-index: -1;
}


/* ------------------------------- Animacion Mouse ------------------------------------------ */
.mouse-icon {
	position: absolute;
	left: 50%;
	bottom: 40px;
	border: 2px solid #fff;
	border-radius: 16px;
	height: 50px;
	width: 30px;
	margin-left: -17px;
	display: block;
	z-index: 10;
}

.mouse-icon .wheel {
    -webkit-animation-name: drop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.mouse-icon .wheel {
	position: relative;
	border-radius: 10px;
	background: #fff;
	width: 4px;
	height: 10px;
	top: 4px;
	margin-left: auto;
	margin-right: auto;
}

@-webkit-keyframes drop {
    0%   { top:5px;  opacity: 0;}
    30%  { top:10px; opacity: 1;}
    100% { top:25px; opacity: 0;}
}


@keyframes drop	{
	0%   { top:5px;  opacity: 0;}
	30%  { top:10px; opacity: 1;}
	100% { top:25px; opacity: 0;}
}